* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 22px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.background-color-a {
  background-color: #232323;
}

.color-a {
  color: #232323;
}

/********* Header *********/

.top-bar {
  background-color: #ffe8e8;
  text-align: center;
  padding: 7px 0; /* 7px → top và bottom | 0 → left và right */
  font-size: 12px;
  color: #b05d5d;
  font-weight: 500;
}

.container-header {
  margin: 0 auto; /* căn giữa theo chiều ngang */
  max-width: 1170px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px 10px;
}

.logo {
  width: 88px;
  height: 44px;
}

.full-header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  justify-items: center;
  padding-top: 5px;
}

.header-right {
  display: flex;
  flex-direction: row;
}

.number-service {
  font-size: 12px;
  padding-right: 20px;
  font-weight: 400;
}

/* Container Dropdown*/
.dropdown {
  position: relative;
  list-style: none;
}

/* Dropdown toggle (liên kết chính) */
.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.icon {
  vertical-align: middle;
  margin-right: 8px;
}

.eng-usd {
  font-size: 12px;
  font-weight: 500;
}

/* Dropdown menu ẩn mặc định */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px 0;
  display: none;
  z-index: 1000;
}

/* Hiển thị menu khi hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  display: block;
  padding: 10px 16px;
  color: #333;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
}

.search-box {
  display: flex;
  align-items: center;
  width: 160px;
  height: 30px;
  border: 1px solid #E7E7E7;
  overflow: hidden;
  background-color: #FAFAFA;
  box-sizing: border-box;
  margin-top: -5px;
  box-shadow: -2px 0 3px -2px rgba(0, 0, 0, 0.3),
    /* bóng bên trái */ 2px 0 3px -2px rgba(0, 0, 0, 0.3),
    /* bóng bên phải */ 0 2px 4px -2px rgba(0, 0, 0, 0.3); /* bóng phía dưới */
}

.search-input {
  flex: 1;
  min-width: 0; /* Để input co lại khi cần */
  height: 100%;
  border: none;
  padding: 0 20px;
  font-size: 12px;
  outline: none;
  box-sizing: border-box;
  color: #323232;
  font-weight: 400;
}

.search-button {
  width: 30px; /* Đủ chỗ cho icon 20px + khoảng padding */
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}

/* Flag icon và mũi tên */
.dropdown .icon {
  width: 16px;
  height: 16px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.free-ship {
  font-weight: 700;
  font-size: 12px;
  padding: 16px 0px;
}

.cart-lists-signin {
  display: flex;
  gap: 25px;
}

.cart-lists-signin li a {
  font-weight: 500;
  transition: color 0.3s;
  color: #323232;
  font-size: 12px;
}

.cart-count {
  background-color: #ffe8e8;
  color: #323232;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  margin-left: 10px;
}

.cart-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  /* gap: 6px; Khoảng cách giữa các phần tử con */
}

.cart-item span {
  font-size: 12px;
}

.cart-item .icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

/********* Header *********/

/*=======================================*/

/********* Nav *********/

/* Thanh navbar full chiều rộng màu đen */
.main-nav {
  background-color: #232323;
  width: 100%;
}

.nav-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px 10px;
}

/* Flexbox cho danh sách menu */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

/* Style cho link */
.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #888888;
}

/********* Nav *********/

/*=======================================*/

/********* Banner *********/

.banner {
  position: relative;
  text-align: center;
  overflow: hidden; /* Ngăn tràn khi ảnh scale */
}

.banner-img-wrapper {
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 720px;
  filter: brightness(0.9);
  transition: transform 0.4s ease, filter 0.4s ease;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.6); /* làm sáng chữ nếu ảnh tối */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.underline-text-cosmopolis {
  width: 50px;
  border: 2px solid #232323;
  border-radius: 50px;
}

.banner-content h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
}

.banner-content p {
  font-size: 12px;
  margin-bottom: 25px;
}

.mobile-break-word::after {
  content: "\A"; /* Dòng mới */
  white-space: pre;
}

.banner:hover .banner-img {
  transform: scale(1.03);
  filter: brightness(1);
}

.btn-shop-now {
  padding: 12px 57px;
  color: #FFFFFF;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 700;
  margin-top: 25px;
}

.btn-shop-now:hover {
  background-color: #ffffff;
  color: #000000;
}

/********* Banner *********/

/*=======================================*/

/********* Categories *********/

.categories-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.category {
  position: relative;
  width: 370px;
  height: 212px;
  margin: 0 10px;
  overflow: hidden;
}

/* lớp bọc ảnh để giới hạn vùng hiển thị */
.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ảnh bên trong được phép zoom */
.image-wrapper img {
  width: 370px;
  height: 212px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* khi hover vào ảnh, chỉ ảnh zoom bên trong */
.image-wrapper:hover img {
  transform: scale(1.2);
}

/* Lớp căn giữa chữ */
.label-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Lớp chữ + hiệu ứng gạch chân */
.label-center span {
  position: relative;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

/* Gạch chân tùy độ dài chữ + cách 10px */
.label-center span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.label-center span:hover::after {
  opacity: 1;
}

/********* Categories *********/

/*=======================================*/

/********* New Arrivals *********/

.products-container {
  max-width: 1170px;
  margin: 0 auto;
}

.line-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 18px;
  gap: 130px;
}

.line {
  width: 370px;
  height: 2px;
}

.new-arrivals {
  font-size: 20px;
  font-weight: bold;
}

.view-all {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
  text-decoration: underline;
  font-weight: 400;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}

.product-card {
  text-align: center;
}

.product-card h4 {
  font-size: 12px;
  font-weight: 400;
  color: #969696;
}

.product-card span {
  font-size: 12px;
  font-weight: 400;
}

.product-card img {
  width: 270px;
  height: 360px;
  object-fit: cover;
  padding: 5px;
}

.colors {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
  border: 3px solid #c7c7c7;
}

.color1 {
  background: #5272c2;
}
.color2 {
  background: #494949;
}
.color3 {
  background: #e8e8e8;
}

.text-center {
  text-align: center;
  margin: 30px 0;
  padding: 30px;
}

.show-more {
  font-size: 16px;
  font-weight: 700;
  padding: 11px 100px;
  border: 1px solid #232323;
}

.show-more:hover {
  border: 5px dotted #000000;
}

/********* New Arrivals *********/

/*=======================================*/

/********* Instagram - Gallery *********/

.instagram {
  padding: 60px 40px;
  background: #FAFAFA;
  text-align: center;
}

.logo-title-instagram {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
}

.logo-title-instagram h3 {
  font-size: 20px;
  line-height: 100%;
  font-weight: 700;
  margin-left: 14px;
}

.logo-title-instagram img {
  width: 22px;
  height: 22px;
}

.instagram span {
  font-size: 12px;
  font-weight: 400;
  color: #3c3c3c;
}

.gallery-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.arrow-gallery {
  border: 2px solid #E8E8E8;
  border-radius: 50%;
}

.arrow-gallery img {
  width: 10px;
  height: 18px;
}

.background-arrow {
  background-color: #ffffff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 5px;
  max-width: 1170px;
  padding: 10px;
}

.gallery-scroll img {
  width: 230px;
  height: auto;
  flex-shrink: 0;
  border-radius: 4px;
}

.gallery-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.view-gallery {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  padding: 15px 65px;
  margin-left: 22px;
  border: 2px dashed rgb(0, 0, 0);
}

.view-gallery:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px dashed rgb(0, 0, 0);
}

/********* Instagram - Gallery *********/

/*=======================================*/

/********* Footer *********/

.container-footer {
  color: #ffffff;
  padding: 50px 20px 30px;
  font-size: 14px;
}

.footer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.footer-column {
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-column h4 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #CFCFCF;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #fff;
}

#footer-column-mid {
  margin-left: -50px;
}

.newsletter p {
  margin: 10px 0;
  color: #ffffff;
}

.newsletter-form {
  display: flex;
  margin-bottom: 15px;
  width: 306px;
  height: 46px;
}

.newsletter-form input {
  flex: 1;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #D3D3D3;
  background-color: #00000000;
  font-weight: 400;
  padding-left: 30px;
}

.newsletter-form button {
  background-color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
}

.newsletter-form button:hover {
  background-color: #000000;
  color: #ffffff;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #333333;
  margin-top: 30px;
  padding-top: 20px;
  text-align: left;
  font-size: 13px;
  color: #aaa;
}

.payment-icons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.payment-icons img {
  width: 50px;
  height: 45px;
  margin: 0 5px;
}

/********* Footer *********/

/*=======================================*/

/********* Fixed Icon *********/

.fixed-icon {
  position: fixed;
  top: 70%;
  right: 10px; /* đổi thành left: 10px nếu muốn bên trái */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.fixed-icon a {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: background 0.3s ease;
}

.fixed-icon a:hover {
  background-color: #f5f5f5;
}

.fixed-icon img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

/********* Footer *********/

/*=======================================*/

/********* Responsive Design *********/

/*** Design Tablet ***/

@media (min-width: 481px) and (max-width: 768px) {
  /*** Header ***/

  .logo {
    margin-left: 30px;
  }

  .header-right {
    margin-left: -60px;
  }

  .number-service {
    font-size: 10px;
    white-space: nowrap;
    margin-left: -30px;
  }

  .hide-on-mobile {
    display: none;
  }

  #hide-on-mobile {
    display: none;
  }

  .cart-item span {
    font-size: 10px;
  }

  /*** Header ***/

  /*===================*/

  /*** Nav ***/

  .main-nav {
    margin-left: 0px;
    padding: 5px 5px;
  }

  .nav-links li a {
    font-size: 8px;
    white-space: nowrap;
  }

  /*** Nav ***/

  /*===================*/

  /*** Banner ***/

  .banner-content h2 {
    font-size: 28px;
  }

  .banner-content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #000;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.6); /* làm sáng chữ nếu ảnh tối */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .banner-content h2 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .banner-content p {
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .mobile-break-word::after {
    content: "\A"; /* Dòng mới */
    white-space: pre;
  }

  .btn-shop-now {
    padding: 6px 12px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 12px;
    margin-top: 10px;
  }

  /*** Banner ***/

  /*===================*/

  /*** Categories ***/

  #nowrap-text {
    white-space: nowrap;
  }

  /*** Categories ***/

  /*===================*/

  /*** New Arrivals ***/

  .line-with-text {
    gap: 20px;
  }

  .line {
    width: 200px;
  }

  .new-arrivals {
    font-size: 11px;
    font-weight: bold;
  }

  .product-list {
    grid-template-columns: 0.5fr 1fr;
  }

  .product-card img {
    width: 250px;
  }

  /*** New Arrivals ***/

  /*===================*/

  /*** Footer ***/

  .footer-top {
    flex-direction: row;
    gap: 20px;
  }

  .footer-column {
    flex: 1 1 150px;
    min-width: 150px;
  }

  .footer-column h4 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 12px;
  }

  .footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 8px;
  }

  .footer-column ul li {
    margin-bottom: 0px;
  }

  .newsletter h4 {
    font-size: 14px;
  }

  .newsletter-form button {
    margin-left: 0px;
  }

  .newsletter-form {
    flex-direction: column;
  }

  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
    margin-bottom: 10px;
  }

  .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 70px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .payment-icons img {
    width: 50px;
    height: 45px;
    margin: 0 5px;
  }

  /*** Footer ***/
}

/*=======================================*/

/*** Design Mobile ***/

@media (max-width: 480px) {
  /*** Header ***/

  .number-service {
    font-size: 10px;
    white-space: nowrap;
    margin-left: -80px;
  }

  .hide-on-mobile {
    display: none;
  }

  #hide-on-mobile {
    display: none;
  }

  .cart-item span {
    font-size: 8px;
  }

  /*** Header ***/

  /*===================*/

  /*** Nav ***/

  .main-nav {
    margin-left: 0px;
    padding: 5px 5px;
  }

  .nav-links li a {
    font-size: 7px;
    white-space: wrap;
  }

  .nav-links {
    gap: 8px;
  }

  /*** Nav ***/

  /*===================*/

  /*** Banner ***/

  .banner-content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #000;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.6); /* làm sáng chữ nếu ảnh tối */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }

  .banner-content h2 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .banner-content p {
    font-size: 8px;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .mobile-break-word::after {
    content: "\A"; /* Dòng mới */
    white-space: pre;
  }

  .btn-shop-now {
    padding: 6px 12px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 12px;
    margin-top: 10px;
  }

  /*** Banner ***/

  /*===================*/

  /*** Categories ***/

  #nowrap-text {
    font-size: 15px;
    white-space: nowrap;
  }

  /*** Categories ***/

  /*===================*/

  /*** New Arrivals ***/

  .line-with-text {
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
  }

  .line {
    width: 95%;
  }

  .new-arrivals {
    font-size: 16px;
    font-weight: bold;
  }

  .product-list {
    grid-template-columns: 1fr;
  }

  /*** New Arrivals ***/

  /*===================*/

  /*** Footer ***/

  .footer-column {
    flex: 1 1 100px;
    min-width: 100px;
  }

  .footer-column h4 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 8px;
  }

  .footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 8px;
  }

  .footer-column ul li {
    margin-bottom: 0px;
  }

  .newsletter h4 {
    font-size: 12px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 10px;
  }

  /*** Footer ***/
}
